<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Nginx</title>
</head>
<body>
    <h1>Loaded Name env from conf changer ${name}</h1>
    <h2>Loaded service name with name ${serviceName}</h2>
</body>
</html>